.secao-pagina.depoimentos .ponto.p1 {
	position: absolute;
	top: 0;
	left: 0;
}

.secao-pagina.depoimentos .ponto.p2 {
	position: absolute;
	top: 0;
	left: 44px;
}

.secao-pagina.depoimentos .ponto.p3 {
	position: absolute;
	top: 0;
	left: 88px;
}

.secao-pagina.depoimentos .ponto.p4 {
	position: absolute;
	top: 0;
	left: 132px;
}

.secao-pagina.depoimentos .ponto.p5 {
	position: absolute;
	top: 0;
	left: 176px;
}

.secao-pagina.depoimentos .ponto.p6 {
	position: absolute;
	top: 0;
	left: 220px;
}

.secao-pagina.depoimentos .ponto.p7 {
	position: absolute;
	top: 0;
	left: 308px;
}

.secao-pagina.depoimentos .ponto.p8 {
	position: absolute;
	top: 0;
	left: 352px;
}

.secao-pagina.depoimentos .ponto.p9 {
	position: absolute;
	top: 0;
	left: 396px;
}

.secao-pagina.depoimentos .ponto.p10 {
	position: absolute;
	top: 0;
	left: 440px;
}

.secao-pagina.depoimentos .ponto.p11 {
	position: absolute;
	top: 0;
	left: 484px;
}

.secao-pagina.depoimentos .ponto.p12 {
	position: absolute;
	top: 0;
	left: 528px;
}

.secao-pagina.depoimentos .ponto.p13 {
	position: absolute;
	top: 44px;
	left: 0;
}

.secao-pagina.depoimentos .ponto.p14 {
	position: absolute;
	top: 44px;
	left: 44px;
}

.secao-pagina.depoimentos .ponto.p15 {
	position: absolute;
	top: 44px;
	left: 88px;
}

.secao-pagina.depoimentos .ponto.p16 {
	position: absolute;
	top: 44px;
	left: 132px;
}

.secao-pagina.depoimentos .ponto.p17 {
	position: absolute;
	top: 44px;
	left: 176px;
}

.secao-pagina.depoimentos .ponto.p18 {
	position: absolute;
	top: 44px;
	left: 220px;
}

.secao-pagina.depoimentos .ponto.p19 {
	position: absolute;
	top: 44px;
	left: 308px;
}

.secao-pagina.depoimentos .ponto.p20 {
	position: absolute;
	top: 44px;
	left: 352px;
}

.secao-pagina.depoimentos .ponto.p21 {
	position: absolute;
	top: 44px;
	left: 396px;
}

.secao-pagina.depoimentos .ponto.p22 {
	position: absolute;
	top: 44px;
	left: 440px;
}

.secao-pagina.depoimentos .ponto.p23 {
	position: absolute;
	top: 44px;
	left: 484px;
}

.secao-pagina.depoimentos .ponto.p24 {
	position: absolute;
	top: 44px;
	left: 528px;
}

.secao-pagina.depoimentos .ponto.p25 {
	position: absolute;
	top: 88px;
	left: 0px;
}

.secao-pagina.depoimentos .ponto.p26 {
	position: absolute;
	top: 88px;
	left: 176px;
}

.secao-pagina.depoimentos .ponto.p27 {
	position: absolute;
	top: 88px;
	left: 220px;
}

.secao-pagina.depoimentos .ponto.p28 {
	position: absolute;
	top: 88px;
	left: 308px;
}

.secao-pagina.depoimentos .ponto.p29 {
	position: absolute;
	top: 88px;
	left: 352px;
}

.secao-pagina.depoimentos .ponto.p30 {
	position: absolute;
	top: 132px;
	left: 176px;
}

.secao-pagina.depoimentos .ponto.p31 {
	position: absolute;
	top: 132px;
	left: 220px;
}

.secao-pagina.depoimentos .ponto.p32 {
	position: absolute;
	top: 132px;
	left: 308px;
}

.secao-pagina.depoimentos .ponto.p33 {
	position: absolute;
	top: 132px;
	left: 352px;
}

.secao-pagina.depoimentos .ponto.p34 {
	position: absolute;
	top: 132px;
	left: 396px;
}

.secao-pagina.depoimentos .ponto.p35 {
	position: absolute;
	top: 132px;
	left: 440px;
}

.secao-pagina.depoimentos .ponto.p36 {
	position: absolute;
	top: 132px;
	left: 484px;
}

.secao-pagina.depoimentos .ponto.p37 {
	position: absolute;
	top: 176px;
	left: 132px;
}

.secao-pagina.depoimentos .ponto.p38 {
	position: absolute;
	top: 176px;
	left: 176px;
}

.secao-pagina.depoimentos .ponto.p39 {
	position: absolute;
	top: 176px;
	left: 220px;
}

.secao-pagina.depoimentos .ponto.p40 {
	position: absolute;
	top: 176px;
	left: 308px;
}

.secao-pagina.depoimentos .ponto.p41 {
	position: absolute;
	top: 176px;
	left: 352px;
}

.secao-pagina.depoimentos .ponto.p42 {
	position: absolute;
	top: 176px;
	left: 396px;
}

.secao-pagina.depoimentos .ponto.p43 {
	position: absolute;
	top: 176px;
	left: 440px;
}

.secao-pagina.depoimentos .ponto.p44 {
	position: absolute;
	top: 176px;
	left: 484px;
}

.secao-pagina.depoimentos .ponto.p45 {
	position: absolute;
	top: 176px;
	left: 528px;
}

.secao-pagina.depoimentos .ponto.p46 {
	position: absolute;
	top: 220px;
	left: 88px;
}

.secao-pagina.depoimentos .ponto.p47 {
	position: absolute;
	top: 220px;
	left: 132px;
}

.secao-pagina.depoimentos .ponto.p48 {
	position: absolute;
	top: 220px;
	left: 176px;
}

.secao-pagina.depoimentos .ponto.p49 {
	position: absolute;
	top: 220px;
	left: 484px;
}

.secao-pagina.depoimentos .ponto.p50 {
	position: absolute;
	top: 220px;
	left: 528px;
}

.secao-pagina.depoimentos .ponto.p51 {
	position: absolute;
	top: 264px;
	left: 44px;
}

.secao-pagina.depoimentos .ponto.p52 {
	position: absolute;
	top: 264px;
	left: 88px;
}

.secao-pagina.depoimentos .ponto.p53 {
	position: absolute;
	top: 264px;
	left: 132px;
}

.secao-pagina.depoimentos .ponto.p54 {
	position: absolute;
	top: 264px;
	left: 484px;
}

.secao-pagina.depoimentos .ponto.p55 {
	position: absolute;
	top: 264px;
	left: 528px;
}

.secao-pagina.depoimentos .ponto.p56 {
	position: absolute;
	top: 308px;
	left: 44px;
}

.secao-pagina.depoimentos .ponto.p57 {
	position: absolute;
	top: 308px;
	left: 88px;
}

.secao-pagina.depoimentos .ponto.p58 {
	position: absolute;
	top: 308px;
	left: 308px;
}

.secao-pagina.depoimentos .ponto.p59 {
	position: absolute;
	top: 308px;
	left: 484px;
}

.secao-pagina.depoimentos .ponto.p60 {
	position: absolute;
	top: 308px;
	left: 528px;
}

.secao-pagina.depoimentos .ponto.p61 {
	position: absolute;
	top: 352px;
	left: 44px;
}

.secao-pagina.depoimentos .ponto.p62 {
	position: absolute;
	top: 352px;
	left: 88px;
}

.secao-pagina.depoimentos .ponto.p63 {
	position: absolute;
	top: 352px;
	left: 308px;
}

.secao-pagina.depoimentos .ponto.p64 {
	position: absolute;
	top: 352px;
	left: 352px;
}

.secao-pagina.depoimentos .ponto.p65 {
	position: absolute;
	top: 352px;
	left: 396px;
}

.secao-pagina.depoimentos .ponto.p66 {
	position: absolute;
	top: 352px;
	left: 440px;
}

.secao-pagina.depoimentos .ponto.p67 {
	position: absolute;
	top: 352px;
	left: 484px;
}

.secao-pagina.depoimentos .ponto.p68 {
	position: absolute;
	top: 352px;
	left: 528px;
}

.secao-pagina.depoimentos .ponto.p69 {
	position: absolute;
	top: 396px;
	left: 44px;
}

.secao-pagina.depoimentos .ponto.p70 {
	position: absolute;
	top: 396px;
	left: 88px;
}

.secao-pagina.depoimentos .ponto.p71 {
	position: absolute;
	top: 396px;
	left: 308px;
}

.secao-pagina.depoimentos .ponto.p72 {
	position: absolute;
	top: 396px;
	left: 352px;
}

.secao-pagina.depoimentos .ponto.p73 {
	position: absolute;
	top: 396px;
	left: 396px;
}

.secao-pagina.depoimentos .ponto.p74 {
	position: absolute;
	top: 396px;
	left: 440px;
}

.secao-pagina.depoimentos .ponto.p75 {
	position: absolute;
	top: 396px;
	left: 484px;
}