body {
	font-family: 'Avenir LT Std Light', sans-serif;
	color: #e2e2e2;
    border-top: 4px solid #aaa683;
    background-color: #2d2d2d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #aaa683;
	font-family: 'Avenir LT Std Black', sans-serif;
	font-weight: normal;	
}

.loading {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000 url('../imgs/loading.gif') no-repeat center;
	z-index: 9999;
}

.secao-pagina {
	position: relative;
}

.secao-pagina.intro {
	height: 95vh;
	overflow: hidden;
}

.secao-pagina.intro .header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}

.secao-pagina.intro a.logo {
	display: inline-block;
	margin-top: 50px;
}

.secao-pagina.intro .seletor-de-idiomas {
	float: right;
	padding-top: 98px;
	margin-right: 20px;
	text-transform: uppercase;
}

.secao-pagina.intro .seletor-de-idiomas a {
	padding: 6px 10px 4px 10px;
	font: 14px/1 'Avenir LT Std Black', sans-serif;
	color: #fff;
	text-align: center;
	border: 1px solid #fff;
}

.secao-pagina.intro .seletor-de-idiomas a:hover {
	color: #aaa683;
	border-color: #aaa683;
}

.secao-pagina.intro a.linkedin {
	display: inline-block;
	float: right;
	width: 25px;
	height: 25px;
	margin-top: 95px;
	text-indent: -9999px;
	background: url('../imgs/linkedin.png') no-repeat top center;
}

.secao-pagina.intro a.linkedin:hover {
	background-position: bottom center;
}

.secao-pagina.intro .conteudo {
	position: relative;
	padding: 0 5px;
	margin-top: 120px;
}

.secao-pagina.intro .conteudo .before, 
.secao-pagina.intro .conteudo .after {
	position: absolute;
	width: 1px;
	height: 212px;
	background: #aaa683;
	opacity: 0;
}

.secao-pagina.intro .conteudo .before {
	top: -70px;
	left: -15px;
}

.secao-pagina.intro .conteudo .after {
	bottom: -70px;
	right: -15px;
}

.secao-pagina.intro .conteudo p {
	font-size: 18px;
	color: #cfd1d0;	
}

.secao-pagina.intro .container-citacao {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.secao-pagina.intro .container-citacao .citacao {
	position: relative;
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	padding: 20px 50px 0 50px;
	text-align: center;
	background: #e2e2e2;
}

.secao-pagina.intro .container-citacao .citacao .frase {
	font: 22px/1.4 'Surveyor Display Light Italic';
	color: #666;
	letter-spacing: -0.3px;
}


.secao-pagina.intro .container-citacao .citacao .referencia {
	margin-bottom: 0;
	font: 14px/1.4 'Avenir LT Std Black';
	color: #aaa683;
	text-transform: uppercase;
}

.secao-pagina.depoimentos {
	padding-top: 100px;
	background-image: url('../imgs/bg-depoimentos.png');
}

.secao-pagina.depoimentos h2 {
	margin-bottom: 50px;
	font: 52px/1 'Surveyor Display Book Italic';
}

.secao-pagina.depoimentos h2 span {
	display: block;
	padding-left: 102px;
	line-height: 1;
	font-family: 'Surveyor Display Black Italic';
}
	
.secao-pagina.depoimentos .depoimentos-before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 9998;
}

.secao-pagina.depoimentos .depoimentos-before .before {
	display: block;
	position: relative;
	width: 100%;
	max-width: 970px;
	height: 25px;
	margin: 0 auto;
	background: #e2e2e2;	
}

.secao-pagina.depoimentos .container-75-anos {
	position: relative;
	height: 420px;
}

.secao-pagina.depoimentos .ponto {
	cursor: pointer;
	float: none!important;
	margin: 0!important;
	position: absolute!important;
	border: 2px solid #aaa683!important;
	width: 24px!important;
	height: 24px!important;
	opacity: 1!important;
}

.secao-pagina.depoimentos .ponto:before {
	display: none;
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	background: #aaa683;
}

.secao-pagina.depoimentos .ponto:hover:before {
	display: block;
}

.secao-pagina.depoimentos .ponto.flex-active-slide {
	background: #aaa683;
}


.secao-pagina.depoimentos .slider-container {
	position: relative;
}

.secao-pagina.depoimentos .slider-container .simple-depoimentos-slider {
	position: relative;
	zoom: 1;
}

.secao-pagina.depoimentos .slider-container .simple-depoimentos-slider .slides .slide {
	height: 256px;
}

.secao-pagina.depoimentos .slider-container .simple-depoimentos-slider .slides .slide .conteudo {
	display: table;
	height: 100%;
	padding: 0 20px 0 0;
	text-align: center;
}

.secao-pagina.depoimentos .slider-container .simple-depoimentos-slider .slides .slide .conteudo .table-cell {
	display: table-cell;
	vertical-align: middle;
	padding-top: 12px;
}

.secao-pagina.depoimentos .slider-container .simple-depoimentos-slider .slides .slide .conteudo .texto {
	display: block;	
	font: 32px/1.2 'Surveyor Display Medium', sans-serif;
	color: #f2f2f2;
}

.secao-pagina.depoimentos .slider-container .simple-depoimentos-slider .slides .slide .conteudo .autor {
	display: block;	
	margin-top: 15px;
	font: 11px/1.2 'Avenir LT Std Black', sans-serif;
	color: #9c9979;
	text-transform: uppercase;
}

.secao-pagina.depoimentos .slider-container .simple-depoimentos-slider .slides .slide .conteudo .ler-na-integra {
	clear: both;
	font: 11.5px/1 'Avenir LT Std Roman', sans-serif;
	color: #eee;
	text-transform: lowercase;
	letter-spacing: 1px;
}

.secao-pagina.depoimentos .slider-container .simple-depoimentos-slider .slides .slide .conteudo .ler-na-integra:hover {
	color: #ddd;
	text-decoration: underline;
}

.secao-pagina.depoimentos .slider-container .custom-navigation .flex-prev,
.secao-pagina.depoimentos .slider-container .custom-navigation .flex-next {
	position: absolute;
	right: 0;
	z-index: 99;
}

.secao-pagina.depoimentos .slider-container .custom-navigation .flex-prev {
	top: 0;
}

.secao-pagina.depoimentos .slider-container .custom-navigation .flex-next {
	bottom: 0;
}

.secao-pagina.depoimentos .conteudo {
	padding: 90px 0 50px 0;
	text-align: center;
}

.secao-pagina.depoimentos .conteudo p {
	font-size: 11.5px;
	color: #aaa683;
	line-height: 1.8;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.secao-pagina.depoimentos .depoimentos-resumidos {
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
}

.secao-pagina.depoimentos .depoimentos-expanded {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../imgs/bg-depoimentos.png');
	z-index: -9000;
	overflow: hidden;	
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
}

.secao-pagina.depoimentos .depoimentos-expanded h2 {
	position: relative;
	margin-top: 100px;
}

.secao-pagina.depoimentos .depoimentos-expanded h2 .close {
	cursor: pointer;
	position: absolute;
	right: 60px;
	top: 0;
	font-family: 'Avenir LT Std Heavy';
}

.secao-pagina.depoimentos .depoimentos-expanded.show {
	opacity: 1;
	z-index: 9998;
}

.secao-pagina.depoimentos .depoimentos-expanded .container-depoimentos-completos {
	position: relative;
	padding-left: 30px;
}

.secao-pagina.depoimentos .depoimentos-expanded .container-depoimentos-completos:before {
	content: '“';
	position: absolute;
	top: -220px;
	right: 30px;
	font: 600px/1 'Surveyor Display Black';
	color: #aaa683;
	opacity: 0.05;
	z-index: -10;
}

.secao-pagina.depoimentos .depoimentos-expanded .depoimentos-completos {
	position: relative;
	width: 100%;
	max-width: 470px;
	height: 390px;
	padding-left: 80px;
}

.secao-pagina.depoimentos .depoimentos-expanded .depoimentos-completos .depoimento {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: 15px;
	overflow: auto;
	text-align: justify;
}

.secao-pagina.depoimentos .depoimentos-expanded .depoimentos-completos .depoimento.ativo {
	visibility: visible;
}

.secao-pagina.depoimentos .depoimentos-expanded .depoimentos-completos .depoimento .texto {
	padding-left: 15px;
}


.secao-pagina.depoimentos .depoimentos-expanded .depoimentos-completos .depoimento p {
	font-size: 18px;
}

.secao-pagina.depoimentos .depoimentos-expanded .depoimentos-completos .depoimento p:last-child {
	margin-bottom: 0;
}

.secao-pagina.depoimentos .depoimentos-expanded .container-frase {
	padding-right: 50px;
}

.secao-pagina.depoimentos .depoimentos-expanded .frase-inferior-depoimentos {
	margin-bottom: 0;
	padding-top: 68px;
	font-size: 11.5px;
	line-height: 1.8;
	color: #aaa683;
	text-transform: uppercase;
}

.secao-pagina.depoimentos .depoimentos-expanded .container-carrossel-depoimentos {
	position: relative;
}

.secao-pagina.depoimentos .depoimentos-expanded .container-carrossel-depoimentos:before, 
.secao-pagina.depoimentos .depoimentos-expanded .container-carrossel-depoimentos:after {
	content: "";
	position: absolute;
	width: 135px;
	height: 135px;
	left: 0;
	background-repeat: no-repeat;
	z-index: 99;
}

.secao-pagina.depoimentos .depoimentos-expanded .container-carrossel-depoimentos:before {
	top: 0;
	background-image: url('../imgs/gradiente-topo-carrossel.png');
}

.secao-pagina.depoimentos .depoimentos-expanded .container-carrossel-depoimentos:after {
	bottom: 0;
	background-image: url('../imgs/gradiente-base-carrossel.png');
}

.secao-pagina.depoimentos .depoimentos-expanded .carrossel-depoimentos-completos {
	height: 100%;
	max-height: 850px;
	padding-top: 30px;
	margin-top: 50px;
	overflow: hidden;
}

.secao-pagina.depoimentos .depoimentos-expanded .carrossel-depoimentos-completos .cantoneira-left, 
.secao-pagina.depoimentos .depoimentos-expanded .carrossel-depoimentos-completos .cantoneira-right {
	position: absolute;
	width: 47px;
	height: 47px;
	z-index: 999;
}

.secao-pagina.depoimentos .depoimentos-expanded .carrossel-depoimentos-completos .cantoneira-left {
	left: -10px;
	top: 345px;
	border-top: 10px solid #aaa683;
	border-left: 10px solid #aaa683;
} 

.secao-pagina.depoimentos .depoimentos-expanded .carrossel-depoimentos-completos .cantoneira-right {
	left: 133px;
	top: 488px;
	border-bottom: 10px solid #aaa683;
	border-right: 10px solid #aaa683;
} 

.secao-pagina.depoimentos .depoimentos-expanded .carrossel-depoimentos-completos .foto {
	float: none!important;
	padding: 10px 0;
}

.secao-pagina.depoimentos .depoimentos-expanded .carrossel-depoimentos-completos .foto .nome-ano-cargo {
	display: none;
}

.secao-pagina.depoimentos .depoimentos-expanded .carrossel-depoimentos-completos .foto.inativo {
	opacity: 0.4;
}

.secao-pagina.depoimentos .depoimentos-expanded .carrossel-depoimentos-completos .foto img {
	width: 135px;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
}

.secao-pagina.depoimentos .depoimentos-expanded .carrossel-depoimentos-completos .foto.ativo {
	padding: 15px 0;
}

.secao-pagina.depoimentos .depoimentos-expanded .carrossel-depoimentos-completos .foto.ativo .nome-ano-cargo {
	display: block;
	position: absolute;
	top: 40px;
	left: 220px;
	width: 100%;
	max-width: 170px;
}

.secao-pagina.depoimentos .depoimentos-expanded .carrossel-depoimentos-completos .foto.ativo .nome-ano-cargo .nome {
	font: 34px/0.5 'Surveyor Display Black', sans-serif;
	color: #aaa683;
	text-transform: uppercase;
}


.secao-pagina.depoimentos .depoimentos-expanded .carrossel-depoimentos-completos .bx-wrapper .bx-prev, 
.secao-pagina.depoimentos .depoimentos-expanded .carrossel-depoimentos-completos .bx-wrapper .bx-next {
	display: block;
	right: 0;
	left: auto;
	width: 20px;
	height: 20px;
	background-position: center right;
	background-size: 13px 17px;
	z-index: 99;
}

.secao-pagina.depoimentos .depoimentos-expanded .carrossel-depoimentos-completos .bx-wrapper .bx-prev.inativo, 
.secao-pagina.depoimentos .depoimentos-expanded .carrossel-depoimentos-completos .bx-wrapper .bx-next.inativo {
	opacity: 0.4;
}


.secao-pagina.depoimentos .depoimentos-expanded .carrossel-depoimentos-completos .bx-wrapper .bx-prev {
	margin-top: -85px!important;
	background-image: url('../imgs/slide-up.png');
}

.secao-pagina.depoimentos .depoimentos-expanded .carrossel-depoimentos-completos .bx-wrapper .bx-next {
	background-image: url('../imgs/slide-down.png');
	margin-top: 68px!important;
}

.secao-pagina.video {
	padding: 70px 0 100px 0;
}

.secao-pagina.video .responsive-embed {
	padding-bottom: 55%;
}

.secao-pagina.video h2 {
	margin-bottom: 50px;
	font-size: 30px;
	color: #fff;
	line-height: 1.8;
	letter-spacing: 12px;
	text-transform: uppercase;
	text-align: center;
}

.secao-pagina.video h2 span {
	display: block;
	font-family: 'Avenir LT Std Light';
}

footer {
	padding: 100px 0;
	background: #222;
}

footer ul.escritorio {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer ul.escritorio li {
	font-size: 11px;
	color: #fefefe;
}


footer ul.escritorio li.cidade {
	font-size: 12px;
	color: #96989d;
	font-family: 'Avenir LT Std Book';
	text-transform: uppercase;
}

footer a {
	float: left;
	margin-bottom: 3px;
	font-size: 12px;
	color: #aaa683;
	font-family: 'Avenir LT Std Book';
}

footer a:hover {
	color: #aaa683;
	text-decoration: underline;
}

footer .copyright {
	display: block;
	font-size: 12px;
	color: #fefefe;
	font-family: 'Avenir LT Std Book';
	clear: both;
}

/* classes gerais */
.full-height {
	height: 100vh;
}

.centraliza {
	position: absolute;
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.padding-top-50 {
	padding-top: 50px;
}

.z-index-999 {
	position: relative;
	z-index: 999;
}

.display-none {
	display: none!important;
}

/* fontface */
@font-face {
	font-family: 'Avenir LT Std Light';
	src: url('../fonts/hinted-subset-AvenirLTStd-Light.eot');
	src: url('../fonts/hinted-subset-AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-AvenirLTStd-Light.woff2') format('woff2'),
		url('../fonts/hinted-subset-AvenirLTStd-Light.woff') format('woff'),
		url('../fonts/hinted-subset-AvenirLTStd-Light.ttf') format('truetype'),
		url('../fonts/hinted-subset-AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir LT Std Light Italic';
	src: url('../fonts/hinted-subset-AvenirLTStd-LightOblique.eot');
	src: url('../fonts/hinted-subset-AvenirLTStd-LightOblique.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-AvenirLTStd-LightOblique.woff2') format('woff2'),
		url('../fonts/hinted-subset-AvenirLTStd-LightOblique.woff') format('woff'),
		url('../fonts/hinted-subset-AvenirLTStd-LightOblique.ttf') format('truetype'),
		url('../fonts/hinted-subset-AvenirLTStd-LightOblique.svg#AvenirLTStd-LightOblique') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir LT Std Book';
	src: url('../fonts/hinted-subset-AvenirLTStd-Book.eot');
	src: url('../fonts/hinted-subset-AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-AvenirLTStd-Book.woff2') format('woff2'),
		url('../fonts/hinted-subset-AvenirLTStd-Book.woff') format('woff'),
		url('../fonts/hinted-subset-AvenirLTStd-Book.ttf') format('truetype'),
		url('../fonts/hinted-subset-AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir LT Std Book Italic';
	src: url('../fonts/hinted-subset-AvenirLTStd-BookOblique.eot');
	src: url('../fonts/hinted-subset-AvenirLTStd-BookOblique.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-AvenirLTStd-BookOblique.woff2') format('woff2'),
		url('../fonts/hinted-subset-AvenirLTStd-BookOblique.woff') format('woff'),
		url('../fonts/hinted-subset-AvenirLTStd-BookOblique.ttf') format('truetype'),
		url('../fonts/hinted-subset-AvenirLTStd-BookOblique.svg#AvenirLTStd-BookOblique') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir LT Std Roman';
	src: url('../fonts/hinted-subset-AvenirLTStd-Roman.eot');
	src: url('../fonts/hinted-subset-AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-AvenirLTStd-Roman.woff2') format('woff2'),
		url('../fonts/hinted-subset-AvenirLTStd-Roman.woff') format('woff'),
		url('../fonts/hinted-subset-AvenirLTStd-Roman.ttf') format('truetype'),
		url('../fonts/hinted-subset-AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir LT Std Black';
	src: url('../fonts/hinted-subset-AvenirLTStd-Black.eot');
	src: url('../fonts/hinted-subset-AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-AvenirLTStd-Black.woff2') format('woff2'),
		url('../fonts/hinted-subset-AvenirLTStd-Black.woff') format('woff'),
		url('../fonts/hinted-subset-AvenirLTStd-Black.ttf') format('truetype'),
		url('../fonts/hinted-subset-AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir LT Std Black Italic';
	src: url('../fonts/hinted-subset-AvenirLTStd-BlackOblique.eot');
	src: url('../fonts/hinted-subset-AvenirLTStd-BlackOblique.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-AvenirLTStd-BlackOblique.woff2') format('woff2'),
		url('../fonts/hinted-subset-AvenirLTStd-BlackOblique.woff') format('woff'),
		url('../fonts/hinted-subset-AvenirLTStd-BlackOblique.ttf') format('truetype'),
		url('../fonts/hinted-subset-AvenirLTStd-BlackOblique.svg#AvenirLTStd-BlackOblique') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir LT Std Heavy';
	src: url('../fonts/hinted-subset-AvenirLTStd-Heavy.eot');
	src: url('../fonts/hinted-subset-AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-AvenirLTStd-Heavy.woff2') format('woff2'),
		url('../fonts/hinted-subset-AvenirLTStd-Heavy.woff') format('woff'),
		url('../fonts/hinted-subset-AvenirLTStd-Heavy.ttf') format('truetype'),
		url('../fonts/hinted-subset-AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir LT Std Heavy Italic';
	src: url('../fonts/hinted-subset-AvenirLTStd-HeavyOblique.eot');
	src: url('../fonts/hinted-subset-AvenirLTStd-HeavyOblique.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-AvenirLTStd-HeavyOblique.woff2') format('woff2'),
		url('../fonts/hinted-subset-AvenirLTStd-HeavyOblique.woff') format('woff'),
		url('../fonts/hinted-subset-AvenirLTStd-HeavyOblique.ttf') format('truetype'),
		url('../fonts/hinted-subset-AvenirLTStd-HeavyOblique.svg#AvenirLTStd-HeavyOblique') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Surveyor Display Light';
	src: url('../fonts/hinted-subset-SurveyorDisplay-Light.eot');
	src: url('../fonts/hinted-subset-SurveyorDisplay-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-SurveyorDisplay-Light.woff2') format('woff2'),
		url('../fonts/hinted-subset-SurveyorDisplay-Light.woff') format('woff'),
		url('../fonts/hinted-subset-SurveyorDisplay-Light.ttf') format('truetype'),
		url('../fonts/hinted-subset-SurveyorDisplay-Light.svg#SurveyorDisplay-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Surveyor Display Light Italic';
	src: url('../fonts/hinted-subset-SurveyorDisplay-LightItalic.eot');
	src: url('../fonts/hinted-subset-SurveyorDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-SurveyorDisplay-LightItalic.woff2') format('woff2'),
		url('../fonts/hinted-subset-SurveyorDisplay-LightItalic.woff') format('woff'),
		url('../fonts/hinted-subset-SurveyorDisplay-LightItalic.ttf') format('truetype'),
		url('../fonts/hinted-subset-SurveyorDisplay-LightItalic.svg#SurveyorDisplay-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Surveyor Display Book';
	src: url('../fonts/hinted-subset-SurveyorDisplay-Book.eot');
	src: url('../fonts/hinted-subset-SurveyorDisplay-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-SurveyorDisplay-Book.woff2') format('woff2'),
		url('../fonts/hinted-subset-SurveyorDisplay-Book.woff') format('woff'),
		url('../fonts/hinted-subset-SurveyorDisplay-Book.ttf') format('truetype'),
		url('../fonts/hinted-subset-SurveyorDisplay-Book.svg#SurveyorDisplay-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Surveyor Display Book Italic';
	src: url('../fonts/hinted-subset-SurveyorDisplay-BookItalic.eot');
	src: url('../fonts/hinted-subset-SurveyorDisplay-BookItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-SurveyorDisplay-BookItalic.woff2') format('woff2'),
		url('../fonts/hinted-subset-SurveyorDisplay-BookItalic.woff') format('woff'),
		url('../fonts/hinted-subset-SurveyorDisplay-BookItalic.ttf') format('truetype'),
		url('../fonts/hinted-subset-SurveyorDisplay-BookItalic.svg#SurveyorDisplay-BookItalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Surveyor Display Medium';
	src: url('../fonts/hinted-subset-SurveyorDisplay-Medium.eot');
	src: url('../fonts/hinted-subset-SurveyorDisplay-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-SurveyorDisplay-Medium.woff2') format('woff2'),
		url('../fonts/hinted-subset-SurveyorDisplay-Medium.woff') format('woff'),
		url('../fonts/hinted-subset-SurveyorDisplay-Medium.ttf') format('truetype'),
		url('../fonts/hinted-subset-SurveyorDisplay-Medium.svg#SurveyorDisplay-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Surveyor Display Medium Italic';
	src: url('../fonts/hinted-subset-SurveyorDisplay-MediumItalic.eot');
	src: url('../fonts/hinted-subset-SurveyorDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-SurveyorDisplay-MediumItalic.woff2') format('woff2'),
		url('../fonts/hinted-subset-SurveyorDisplay-MediumItalic.woff') format('woff'),
		url('../fonts/hinted-subset-SurveyorDisplay-MediumItalic.ttf') format('truetype'),
		url('../fonts/hinted-subset-SurveyorDisplay-MediumItalic.svg#SurveyorDisplay-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Surveyor Display Black';
	src: url('../fonts/hinted-subset-SurveyorDisplay-Black.eot');
	src: url('../fonts/hinted-subset-SurveyorDisplay-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-SurveyorDisplay-Black.woff2') format('woff2'),
		url('../fonts/hinted-subset-SurveyorDisplay-Black.woff') format('woff'),
		url('../fonts/hinted-subset-SurveyorDisplay-Black.ttf') format('truetype'),
		url('../fonts/hinted-subset-SurveyorDisplay-Black.svg#SurveyorDisplay-Black') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Surveyor Display Black Italic';
	src: url('../fonts/hinted-subset-SurveyorDisplay-BlackItalic.eot');
	src: url('../fonts/hinted-subset-SurveyorDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-subset-SurveyorDisplay-BlackItalic.woff2') format('woff2'),
		url('../fonts/hinted-subset-SurveyorDisplay-BlackItalic.woff') format('woff'),
		url('../fonts/hinted-subset-SurveyorDisplay-BlackItalic.ttf') format('truetype'),
		url('../fonts/hinted-subset-SurveyorDisplay-BlackItalic.svg#SurveyorDisplay-BlackItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

.parallax-window {
	min-height: 400px;
	background: transparent;
}

/* flexslider */
/*
 * jQuery FlexSlider v2.6.3
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url('../fonts/flexslider-icon.eot');
  src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff') format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}
.flex-direction-nav .flex-prev {
  left: -50px;
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspPane:before
{
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	top: 0;
	left: 2px;
	background: #aaa683;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	left: 2px;
	width: 5px;
	height: 100%;
	background: transparent;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	width: 1px;
	background: #aaa683;
	position: relative;
}

.jspDrag
{
	background: #aaa683;
	position: relative;
	top: 0;
	left: -2px;
	cursor: pointer;
	width: 5px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}

/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin-bottom: 60px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}
.bxslider {
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
}
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}
/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url('../css/images/bx_loader.gif') center center no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url('images/controls.png') no-repeat 0 -32px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url('images/controls.png') no-repeat -43px -32px;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9998;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url('images/controls.png') -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url('images/controls.png') -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

.lb-v-dummy { width: 100%; display: block; height: 1px; }
.lb-h-dummy { height: 100%; display: block; width: 1px; }
.lb-clear { clear: both; }
.lb-wrap { z-index: 0; overflow: auto; position: relative; }
.lb-v-scrollbar { z-index: 1; position: absolute; right: 2px; top: 2px; width: 7px; height: 100%; background: #cfcfcf; opacity: 0.3; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }
.lb-h-scrollbar { z-index: 1; position: absolute; bottom: 2px; left: 2px; width: 100%; height: 7px; background: #cfcfcf; opacity: 0.3; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }
.lb-v-scrollbar-slider { position: absolute; width: 7px; height: 50px; left: 0; top: 0; background: #000; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }
.lb-h-scrollbar-slider { position: absolute; height: 7px; width: 50px; left: 0; top: 0; background: #000; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }


/* Video wrap */
.bv-video-wrap {
  width: 100%;
  height: 100%;
  /* Please note this is only required if you with to add the
  '.bv-video-wrap--ready' class on the 'onReady' event */
  display: none;
  z-index: -1!important;
}

.bv-video-wrap--ready {
  display: block;
}

/* Video object */
.bv-video {
  width: 100%;
  height: 100%;
}